#myaccount {
  width: 22.48vw;
  height: 91.24vh;
}
#myaccount label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 1.32vw;
  line-height: 3.05vh;
  margin-left: 3.5vw;
  margin-top: 2.31vw;
}
.accounts {
  display: flex;
  flex-direction: column;
  /* padding-top: 27px; */
}
.accounts button {
  margin-top: 2.18vw;
  background-color: transparent;
  border: transparent;
  width: 21.49vw;
  height: 5.29vh;
  border-radius: 0px 1.98vw 1.98vw 0px;
  text-align: left;
  padding-left: 3.5vw;
}
.accounts button:hover {
  background-color: #008cba;
  color: white;
}
