#collection{
  width: 77.51vw;
height: 91.24vh;
/* margin-left: 340px;
margin-top: 86px; */
overflow-y: scroll;
/* overflow-x: scroll; */
display: flex;
  flex-direction: column;
}
.collection-row {
  display: flex;
  flex-direction: row;
  padding-bottom: 3.17vw;
  padding-top: 1.52vw  ;
}
img{
  padding-right: 1.58vw;
}
