
.nav-bar {
  width: 100vw;
  height: 8.75vh;
  background: #3980bf;
  border-radius: 0px 0px 0.66vw  0.66vw;
  padding-top: 2.05vw;
}
.nav-bar label {
  margin-left: 3.96vw;
  padding-right: 2.77vw;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 1.05vw;
  line-height: 1.85vw;
}
.nav-bar input {
  width: 37.76vw;
  height: 4.48vh;
  margin-right: 3.96vw;
  float: right;
}
.nav-bar select {
  background-color: transparent;
  border: transparent;
}
/* .nav-bar button{
    /* width: 571px; */
/* height: 47px; */
/* background-color: white; */
/* border: transparent; */
/* } */
