#Bottomnav {
  width: 100vw;
  height: 80.9564vh;
  background: #1f1f1f;
}
.title {
  width: 33.00236vw;
  height: 20.773728vh;
  margin-left: 14.153318vw;
  /* margin-top: 110px; */
  padding-top: 7.27507vw;
}
.title label {
  width: 33.002vw;
  height: 20.77372vh;
  /* margin-left: 214px; */
  padding-top: 11.2015vh;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 200;
  font-size: 3.30685vw;
  line-height: 6.924576vh;

  color: #ffffff;
}
.list {
  margin-top: 11.914344vh;
  margin-left: 14.15331vw;
  display: flex;
  flex-direction: column;
  gap: 2.13847vh;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 1.32274vw;
  line-height: 2.749464vh;

  color: #ffffff;
}
.socialmedia {
  display: flex;
  flex-direction: row;
  gap: 2.138472vw;
  margin-top: 14.86747vh;
  margin-left: 43.716557vw;
}
i {
  color: white;
  cursor: pointer;
}
.copyright {
  margin-top: 2.03664vh;
  margin-left: 41.00494vw;
  display: flex;
  flex-direction: row;
  gap: 0.925918vw;
}
.copyright label {
  color: white;
}
